<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Endereço</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Código Postal / CEP</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Digite o CEP"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Rua</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Rua..."
                  readonly
                />
              </div>
            </div>
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Número</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Número..."
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Cidade</label>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>Bairro</label>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Complemento</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Complemento..."
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Chave do País</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Região</label>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label for="">Comunicação/Telefone(s)</label>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">
                Salvar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
