<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Família / Pessoa de Referência</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 pr-1">
            <div class="form-group">
              <label>Nome Completo</label>
              <input type="text" class="form-control" placeholder="Insira o nome do dependente" />
            </div>
          </div>
          <div class="col-md-2 pr-1">
            <div class="form-group">
              <label>Tipo de dependente</label>
              <input type="text" class="form-control" placeholder="Qual seu tipo ?" />
            </div>
          </div>
          <div class="col-md-2 pr-1">
            <div class="form-group">
              <label>Sexo</label>
              <select class="form-control">
                <option value="masc">Masculino</option>
                <option value="fem">Feminino</option>
                <option value="outros">Outros</option>
              </select>
            </div>
          </div>

          <div class="col-md-2 pr-1">
            <div class="form-group">
              <label>Data de Nascimento</label>
              <input type="date" class="form-control" />
            </div>
          </div>
          <div class="col-md-1 pr-1">
            <div class="form-group">
              <label>País</label>
              <input type="text" class="form-control" placeholder="Brasil" />
            </div>
          </div>
          <div class="col-md-1 pr-1">
            <div class="form-group">
              <label>Estado</label>
              <input type="text" class="form-control" placeholder="MG" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 pr-1">
            <div class="form-group">
              <label>CPF do Dependente</label>
              <input type="text" class="form-control" placeholder="845896320-15" />
            </div>
          </div>
          <div class="col-md-4 pr-1">
            <div class="form-group">
              <label>Elegibilidade do dependente para fins de IR</label>
              <input type="text" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button type="submit" class="btn btn-primary btn-round">
              Salvar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
