<div class="jumbotron jumbotron-fluid ml-5">
  <h1 class="display-4">Bem Vindo(a)!</h1>
  <p class="lead">Sistema para controle e cadastramento de usuários.</p>
  <hr class="my-4" />
  <h5>
    O Sistema visa engajar o esforço coletivo e prover aos usuários por meio da
    internet uam solução que apresente as informações cadastrais para que o
    colaborador atualize ou edite seus dados. A solução visa disponibilizar
    página web para atualização dos dados pessoais e funcionais relacionados ao
    servidor. A empresa precisa ter as informações dos colaboradores não apenas
    para quem é o colaborador, mas também porque existem exigências legais para
    a contratação de empregados e o acompanhamento do contrato dos mesmos.
  </h5>

  <div class="row">
    <div>
      <input type="checkbox" id="sim" value="s" />
      <label class="form-check-label"><h6>De acordo com as políticas</h6></label>
    </div>
  </div>
</div>
