<div class="jumbotron jumbotron-fluid ml-5">
  <h1 class="display-4">Bem Vindo(a)!</h1>
  <p class="lead">Sistema para controle e cadastramento de usuários.</p>
  <hr class="my-4">
  <p>O sistema visa engajar o esforço coletivo e prover aos usuários por meio da internet uma solução que apresente as informações cadastrais para que o colaborador atualize ou edite seus dados.
    A solução visa disponibilizar página web para atualização dos dados pessoais e funcionais relacionados ao seu infotipo</p>
</div>
