<div class="row">
    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Dados Internos</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Nome do edifício</label>
                  <input type="text" class="form-control" placeholder="Insira o nome do edifício">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 pr-1">
                <div class="form-group">
                  <label>N° da sala</label>
                  <input type="number" class="form-control">
                </div>
              </div>
              <div class="col-md-3 pl-3">
                <div class="form-group">
                  <label for="">Telefone Interno (Ramal)</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Endereço de trabalho</label>
                  <input type="text" class="form-control" placeholder="Sede">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 pr-1">
                <div class="form-group">
                  <label>DDD</label>
                  <input type="number" class="form-control">
                </div>
              </div>
              <div class="col-md-1 px-1">
                <div class="form-group">
                  <label>DDR</label>
                  <input type="number" class="form-control">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Telefone do Trabalho</label>
                  <input type="number" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Salvar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
