<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Documentos</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>CPF</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Digite o CPF"
                  readonly
                />
              </div>
            </div>
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>RG</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Digite o número do RG"
                />
              </div>
            </div>
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>Série</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Digite a série"
                />
              </div>
            </div>
            <div class="col-md-1 pr-1">
              <div class="form-group">
                <label>Órgão Emissor</label>
                <input type="text" class="form-control" placeholder="SSP..." />
              </div>
            </div>
            <div class="col-md-1 pr-1">
              <div class="form-group">
                <label>UF</label>
                <input type="text" class="form-control" placeholder="RS" />
              </div>
            </div>
            <div class="col-md-1 pr-1">
              <div class="form-group">
                <label>Data de Emissão</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="24/06/1989"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Certificado de Reservista</label>
                <input type="text" class="form-control" readonly />
              </div>
            </div>

            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Título de eleitor</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Digite o número do titulo"
                />
              </div>
            </div>

            <div class="col-md-1 pr-1">
              <div class="form-group">
                <label>Zona</label>
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="col-md-1 pr-1">
              <div class="form-group">
                <label>Sessão</label>
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="col-md-1 pr-1">
              <div class="form-group">
                <label>Data de Emissão</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="13/05/2010"
                />
              </div>
            </div>

            <div class="col-md-1 pr-1">
              <div class="form-group">
                <label>UF</label>
                <input type="text" class="form-control" placeholder="SP" />
              </div>
            </div>
          </div>

          <!--Registro Profissional-->
          <div class="row">
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Registro Profissional</label>
                <input type="text" class="form-control" readonly />
              </div>
            </div>

            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Série</label>
                <input type="text" class="form-control" readonly />
              </div>
            </div>

            <div class="col-md-1 pr-1">
              <div class="form-group">
                <label>Região</label>
                <input type="text" class="form-control" readonly />
              </div>
            </div>

            <div class="col-md-1 pr-1">
              <div class="form-group">
                <label>UF</label>
                <input type="text" class="form-control" readonly />
              </div>
            </div>

            <div class="col-md-1 pr-1">
              <div class="form-group">
                <label>Data de Emissão</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="09/01/2005"
                />
              </div>
            </div>

            <div class="col-md-1 pr-1">
              <div class="form-group">
                <label>UF</label>
                <input type="text" class="form-control" placeholder="SP" />
              </div>
            </div>

            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>CTPS</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="17033259504"
                />

              </div>
            </div>
            <div class="col-md-1 pr-1">
              <div class="form-group">
                <button
                (click)="anexaNome()"
                type="button" id="anexoNome" class="btn btn-primary mt-4">Anexar</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">
                Salvar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
