<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Dados Bancários</h5>
      </div>
      <div class="card-body">
          <div class="row">
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>Chave do Banco/Nome do Banco</label>
                <input
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Agência/ Dígito verificador (apenas para BB)</label>
                <input
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>Conta Bancária / Dígito Verificador</label>
                <input
                  type="text"
                  class="form-control"
                />
              </div>
            </div>


          </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">
                  Salvar
                </button>
              </div>
            </div>
    </div>
  </div>
</div>
